<h3>{{title}}</h3>
{{#if displayProbability}}
    <div class="moreDetails">
        <p>Probability of this answer being community defining: <span class="thick">{{probability}}%</span></p>
        <p>Probability of the results not being defined by random chance: <span class="thick">{{nonRandomChance}}%</span></p>
        <p>Percentage of this answer being used to answer this question in the whole data set: <span class="thick">{{totalProbability}}%</span></p>
        <p>Number of matching communities: <span class="thick">{{communityCount}}</span></p>
    </div>
{{/if}}
<div class="graph"></div>
